.issuePreview {
    margin: 5px 0;
    clear: both;
    min-height: 40px;
    .photo {
        float: left;
        img {
            width: 40px;
        }
    }
    .body {
        margin-left: 45px;
        h3 {
            margin: 0;
        }
    }
}
.pagination {
    .pagination__wrapper {
        button,
        span {
            display: inline-block;
            color: #333;
            padding: 4px 12px;
            border: 1px solid #e6e6e6;
            text-decoration: none;
            background-color: #fff;
        }
        span,
        button.active {
            background-color: #e6e6e6;
        }
        button {
            &:focus {
                outline: 0;
            }
        }
    }
}
.search {
    .search__field {
        display: inline-block;
        margin-right: 3px;
    }
    .search__autocomplete {
        position: relative;
        .search__autocomplete-ul {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            margin-top: -4px;
            background-color: #fff;
            border: 1px solid #e6e6e6;
            box-sizing: border-box;
            border-top: none;
            border-radius: 3px;
            &:empty {
                display: none;
            }
            .search__autocomplete-li {
                list-style-type: none;
                padding: 3px 6px;
                color: #333;
                text-transform: lowercase;
                .search__autocomplete-a {
                    display: block;
                    color: #333;
                }
            }
        }
    }
}
.issue {
    .labels ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            display: inline-block;
            padding: 2px 6px;
            color: #fff;
            border-radius: 3px;
        }
    }
    .info {
        .photo {
            float: left;
            img {
                width: 40px;
            }
        }
        .cont {
            margin-left: 45px;
            .date {
                color: #aaa;
                margin-left: 5px;
            }
        }
    }
}
