.issue {
    margin: 5px 0;
    clear: both;
    min-height: 40px;
    .photo {
        float: left;
        img {
            width: 40px;
        }
    }
    .body {
        margin-left: 45px;
        h3 {
            margin: 0;
        }
    }
}
.pagination {
    .pagination__wrapper {
        button,
        span {
            display: inline-block;
            color: #333;
            padding: 4px 12px;
            border: 1px solid #e6e6e6;
            text-decoration: none;
            background-color: #fff;
        }
        span,
        button.active {
            background-color: #e6e6e6;
        }
        button {
            &:focus {
                outline: 0;
            }
        }
    }
}
