.form
  .wrapper
    input#inputOwner.input(type="text", name="owner", value=owner)
  .wrapper.autocomplete
    input#inputRepo.input(type="text" , name="repo", value=repo)
    ul.repos
  .wrapper
    button#buttonSend Search
.issues
.pagination
