body, html
  margin:0px;
  padding: 0px;
  font-size: 15px;

.container
  width: 960px;
  margin: 0 auto;

h1
  margin-bottom: 0px;

.form
  background: #333;
  margin: 0 -9999px;
  padding: 5px 9999px;
.form .input , .form button
  height: 24px;
  box-sizing: border-box;
  padding: 2px 6px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  font-size: 15px;

.form .wrapper
  display: inline-block;
  margin-right: 3px;

.labels ul
  margin: 0px
  padding: 0px
.labels ul li
  list-style-type:none;
  display:inline-block;
  padding: 2px 6px;
  color: #fff;
  border-radius: 3px;

.autocomplete
  position:relative
.autocomplete ul
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  margin-top: -4px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-top: none;
  border-radius: 3px;

.autocomplete ul li
  list-style-type: none;
  padding: 3px 6px;
  color: #333;
  text-transform: lowercase;

.autocomplete ul li a
  display: block;
  color: #333;
.autocomplete ul:empty
  display:none;

.info .photo
  float: left;
.info .photo img
  width: 40px;

.info .cont
  margin-left: 45px;
.info .cont .date
  color: #aaa;
  margin-left: 5px;
.issue
  margin: 5px 0;
  clear: both;
  min-height: 40px;

.issue .photo
  float:left;
.issue .photo img
  width: 40px;

.issue .body
  margin-left: 45px;
.issue .body h3
  margin: 0px;

.pagination .pagination-wrapper a ,
.pagination .pagination-wrapper span
  display: inline-block;
  color: #333;
  padding: 4px 12px;
  border: 1px solid #e6e6e6;
  text-decoration: none;
.pagination .pagination-wrapper span,
.pagination .pagination-wrapper a.active
  background-color: #e6e6e6;
